@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model yoga.ViewModels.LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/contact.css" rel="stylesheet" />

    <div class="yoga-layout">
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="container public-pages">
            <h1 class="page-header text-center">@localizer["PageTitle"]</h1>

            <input asp-for="Email" type="text" placeholder='@localizer["Email"] *' />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Password" type="password" placeholder='@localizer["Password"] *' />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="RememberMe" />
            <label asp-for="RememberMe">@localizer["RememberMe"]</label>
            
            <p class="forget-password">
                <a asp-controller="Account" asp-action="ForgotPassword">@localizer["ForgetPassword"]</a>
            </p>


            <button class="btn btn-brown-primary w-100">@localizer["Login"]</button>

            <div class="d-flex justify-content-center sign-info">
                <img src="~/assets/images/public/user.png" />
                <div>
                    <p>@localizer["Dont"]</p>
                    <p><b>@localizer["Register"] <a asp-controller="Account" asp-action="Register">@localizer["Here"]</a></b></p>
                </div>
            </div>
        </div>
        </form>
    </div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }