@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model yoga.ViewModels.RegisterModel
@{
    @* ViewData["Title"] = "Register"; *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/contact.css" rel="stylesheet" />

<div class="yoga-layout">
    <div class="container public-pages">
        <h1 class="page-header text-center">@localizer["PageTitle"]</h1>

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="NationalId" type="text" placeholder='@localizer["NationalId"] *' />
            <span asp-validation-for="NationalId" class="text-danger"></span>

            <input asp-for="Email" type="text" placeholder='@localizer["Email"] *' />
            <span asp-validation-for="Email" class="text-danger"></span>

            <input asp-for="Password" type="password" placeholder='@localizer["Password"] *' />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="ConfirmPassword" type="password" placeholder='@localizer["ConfirmPassword"] *' />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <input asp-for="Phone" type="text" placeholder='@localizer["Phone"] *' />
            <span asp-validation-for="Phone" class="text-danger"></span>


            <select item class="form-control" name="CountryId" id="CountryId" asp-items="@Model.Counries"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>

            <select item class="form-control" name="CityId" id="CityId" asp-items="@Model.Cities"></select>
            <span asp-validation-for="CityId" class="text-danger"></span>


            <input asp-for="FirstName" type="text" placeholder='@localizer["FirstName"] *'/>
            <span asp-validation-for="FirstName" class="text-danger"></span>

            <input asp-for="MiddleName" type="text" placeholder='@localizer["MiddleName"] *' />
            <span asp-validation-for="MiddleName" class="text-danger"></span>

            <input asp-for="LastName" type="text" placeholder='@localizer["LastName"] *' />
            <span asp-validation-for="LastName" class="text-danger"></span>

            <div id="upload-container" class="text-center">
                <label>
                    <img src="~/assets/images/public/upload.png" />
                    <br />
                    @localizer["Image"]
                    <input asp-for="Image" id="inputTag" class="upload-text" type="file" />
                    <br />
                    <p class="extensions" id="imageName">
                        JPG , PNG , PFD
                    </p>
                    <p>
                        @localizer["imageNote"]
                    </p>
                </label>
            </div>

            <div id="upload-container" class="text-center">
                <label>
                    <img src="~/assets/images/public/upload.png" />
                    <br />
                    @localizer["NationalIdImage"]
                    <input asp-for="NationalIdImage" id="inputTag_NationalIdImage" class="upload-text" type="file" />
                    <br />
                    <p class="extensions" id="imageName">
                        JPG , PNG , PFD
                    </p>
                    
                </label>
            </div>

            <p class="register-info">
               
            </p>
            <button class="btn btn-brown-primary w-100">@localizer["Submit"]</button>
        </form>
    </div>
</div>




@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />
}