@model yoga.ViewModels.UserSetting;
@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<AppUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var displayName = $"{user.FirstName} {user.MiddleName} { user.LastName}";
    var email = user.Email;
    var Phone = user.PhoneNumber;
    var imagePath = user.UserImage;
    var nationalId = user.NationalId;
}
<link href="~/assets/css/account-details.css" rel="stylesheet">






<div class="d-lg-flex">
    <partial name="_AdminMenu" />
    <div class="account-container account-details">
        <h2 class="header page-header">Hello</h2>
        <div class="d-flex align-items-center">
            <img src="~/assets/images/accountdetails/dashboard/profile.png" />
            <p class="title">@displayName</p>
        </div>
        <h2 class="header"> </h2>
        <div class="d-flex align-items-center">
            <img src="~/assets/images/accountdetails/dashboard/users.png" />
            <p class="title">@email</p>
        </div>
        <div class="d-flex align-items-center">
            <img src="~/assets/images/accountdetails/dashboard/subscriptions.png" />
            <p class="title">@Phone</p>
        </div>
        <div class="d-flex align-items-center">
            <img src="~/assets/images/accountdetails/dashboard/account-details.png" />
            <p class="title">@nationalId</p>
        </div>

    </div>
    <div class="account-container w-100">
        <h2 class="header page-header">Subscriptions</h2>
        <div class="page-desc">
            @if (Model.User_Subscribtions.HasMemberShip == false && Model.User_Subscribtions.HasTeacherLic == false)
            {
                <p>You have no any Subscriptions</p>
            }
        </div>
        <div class="table">
            <div class="header">
                <div class="col">Current Plan</div>
                <div class="col">Expires</div>
                <div class="col">Status</div>

            </div>
            @if (@Model.User_Subscribtions.HasTeacherLic)
            {
                <div class="table-row">
                    <div class="col">Teacher Licence</div>
                    <div class="col">@Model.TeacherLic.ExpireDate</div>
                    @if (Model.TeacherLic.FinalApprove)
                    {
                        <div class="col approved">Active</div>
                    }
                    else
                    {
                        <div class="col pending">Not Active</div>
                    }

                </div>
            }
            @if (Model.User_Subscribtions.HasMemberShip)
            {
                <div class="table-row">
                    <div class="col">Membership Card</div>
                    <div class="col">@Model.MemshipCard.ExpireDate</div>
                    @if (Model.TeacherLic.FinalApprove)
                    {
                        <div class="col approved">Active</div>
                    }
                    else
                    {
                        <div class="col pending">Not Active</div>
                    }

                </div>
            }

        </div>
    </div>
</div>