@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model yoga.ViewModels.RegisterModel
@{
    @* ViewData["Title"] = "Register"; *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="yoga-layout">
    <div class="container public-pages">
        <h1 class="page-header text-center">@localizer["PageTitle"]</h1>

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Email" type="text" placeholder='@localizer["Email"] *' />
            <span asp-validation-for="Email" class="text-danger"></span>

            @* <input asp-for="Password" type="password" placeholder='@localizer["Password"] *' />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input asp-for="ConfirmPassword" type="password" placeholder='@localizer["ConfirmPassword"] *' />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@

            <input asp-for="Phone" type="text" placeholder='@localizer["Phone"] *' />
            <span asp-validation-for="Phone" class="text-danger"></span>

            @* <input asp-for="FirstName" type="text" placeholder='@localizer["UserName"] *'/>
            <span asp-validation-for="FirstName" class="text-danger"></span> *@


            <p class="register-info">
            </p>
            <button class="btn btn-brown-primary w-100">@localizer["Submit"]</button>
        </form>
    </div>
</div>




@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />
}