@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<UserVM>
@{
    ViewData["Title"] ="Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assets/css/account-details.css" rel="stylesheet">

<div class="d-lg-flex">
                <partial name="_AdminMenu" />
                <div class="account-container account-details">
                    <h2 class="header page-header">Managers</h2>
                    @if(User.IsInRole("Admin"))
                    {
                        <a href='@Url.Action("Create", "Users")'>Add Manager / Admin</a>
                    }
					<div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
                                                <th>@localizer["UserName"]</th>
                                                <th>@localizer["Email"]</th>
                                                @* <th>@localizer["PhoneNumber"]</th> *@
                                                <th>role</th>
                                                <th>@localizer["Actions"]</th>
                                                <th></th>
											</tr>
										</thead>
										<tbody>
											
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="cell">
                                        @item.FirstName
                                            </td>
                                            <td class="cell">
                                        @item.Email
                                            </td>
                                            @* <td class="cell">
                                        @item.PhoneNumber
                                            </td> *@
                                            <td>@item.RoleNames</td>
                                            
                                            <td>
                                                <div class="w-75 btn-group" role="group">
                                                    <a class="btn-sm app-btn-secondary" asp-controller="Users" asp-action="Edit"
                                                    asp-route-id="@item.Id"><i class="fa-solid fa-memo-circle-info"></i>@localizer["Details"]</a>
                                                </div>
                                                
                                            </td>
                                            
                                            <td>
                                                @* @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                                                    {
                                                        <div class="w-75 btn-group" role="group">
                                                            <a class="btn-sm app-btn-secondary" asp-controller="Account" asp-action="ChangePassword"
                                                            asp-route-id="@item.Id"><i class="fa-solid fa-memo-circle-info"></i>@localizer["ChangePassword"]</a>
                                                        </div>
                                                    } *@
                                            </td>

                                        </tr>
                                    }
		
										</tbody>
									</table>
						        </div><!--//table-responsive-->
                </div>
</div>