@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<UserVM>
@{
    ViewData["Title"] ="Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assets/css/account-details.css" rel="stylesheet">

<div class="d-lg-flex">
                <partial name="_AdminMenu" />
                <div class="account-container account-details">
                    <div>
                        @if(@ViewBag.Error != null)
                        {
                            @ViewBag.Error
                        }
                    </div>
                    <h2 class="header page-header">@localizer["Managers"]</h2>
                    @if(User.IsInRole("Admin"))
                    {
                        <a href='@Url.Action("Create", "Users")'>@localizer["PageTitle"]</a>
                    }
					<div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
                                                <th style="display: none;">@localizer["Id"]</th>
                                                <th>@localizer["UserName"]</th>
                                                <th>@localizer["Email"]</th>
                                                @* <th>@localizer["PhoneNumber"]</th> *@
                                                <th>@localizer["Role"]</th>
                                                 <th>@localizer["Status"]</th>
                                                <th>@localizer["Actions"]</th>
                                                <th></th>
											</tr>
										</thead>
										<tbody>
											
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="display: none;">@item.Id</td>
                                            <td class="cell">
                                        @item.FirstName
                                            </td>
                                            <td class="cell">
                                        @item.Email
                                            </td>
                                            @* <td class="cell">
                                        @item.PhoneNumber
                                            </td> *@
                                            <td>@item.RoleNames</td>
                                            <td>
                                                @if(@item.Status)
                                                {
                                                    <span class="padge padge-success">Active</span>
                                                }
                                                else {
                                                    <span class="padge padge-danger">Not Active</span>  
                                                }
                                            </td>
                                            <td>
                                                <div class="w-75 btn-group" role="group">
                                                    <a class="btn-sm app-btn-secondary" asp-controller="Users" asp-action="Edit"
                                                    asp-route-id="@item.Id"><i class="fa-solid fa-memo-circle-info"></i>@localizer["Details"]</a>

                                    @if (@item.Status)
                                    {
                                        <a class="btn-sm app-btn-secondary btn-danger" asp-controller="Users" asp-action="LockUser"
                                        asp-route-email="@item.Email"><i class="fa-solid fa-memo-circle-info"></i>@localizer["LockUser"]</a>
                                    }
                                    else
                                    {
                                        <a class="btn-sm app-btn-secondary btn-success" asp-controller="Users" asp-action="LockUser"
                                           asp-route-email="@item.Email"><i class="fa-solid fa-memo-circle-info"></i>@localizer["UNLockUser"]</a>
                                    }


                                                </div>
                                                
                                                
                                            </td>
                                            
                                            
                                            <td>
                                                @* @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                                                    {
                                                        <div class="w-75 btn-group" role="group">
                                                            <a class="btn-sm app-btn-secondary" asp-controller="Account" asp-action="ChangePassword"
                                                            asp-route-id="@item.Id"><i class="fa-solid fa-memo-circle-info"></i>@localizer["ChangePassword"]</a>
                                                        </div>
                                                    } *@
                                            </td>

                                        </tr>
                                    }
		
										</tbody>
									</table>
						        </div><!--//table-responsive-->
                </div>
</div>