@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model yoga.ViewModels.MembershipCardVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject UserManager<AppUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var imagePath = user.UserImage;
}


<link href="~/assets/css/account-details.css" rel="stylesheet">


<div class="d-lg-flex">
    <partial name="_AdminMenu" />
   

    <div class="account-container account-details">

        <form method="post" enctype="multipart/form-data">
            @if (ViewData["Saved"] != null)
            {
                <div class="alert alert-success">@ViewData["Saved"]</div>
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <h2>@localizer["PageTitle"]</h2>

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="border p-3 mt-4">
                <div class="alert alert-info">@localizer["plzSend"] <span class="fw-bold">150</span> @localizer["sar"]
                </div>
                @* <div class="alert alert-danger"><span class="fw-bold">@localizer["BillNoteTitle"]</span> @localizer["BillNote"]
                </div> *@

                <div class="mb-3">
                    <label class="fw-bold">@localizer["Price"]</label>
                    <label>150 ريال سعودي</label>
                </div>

                <div class="mb-3">
                    <label class="fw-bold">@localizer["IBAN"]</label>
                    <label>SA5865000000101459418001</label>
                </div>

                <div class="mb-3">
                    <label class="fw-bold" asp-for="RecietCopy">@localizer["BankReceitCopy"]</label>
                    <input type="file" asp-for="RecietCopy" class="form-control" />
                    <span asp-validation-for="RecietCopy" class="text-danger"></span>
                </div>

                @if (string.IsNullOrEmpty(imagePath))
                        {
                            <div class="mb-3">
                                <div id="upload-container" class="text-center">
                                    <label>
                                        <img src="~/assets/images/public/upload.png" />
                                        <br />

                                        <input asp-for="Image" id="inputTag" class="upload-text" type="file" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                        <br />
                                        <p class="extensions" id="imageName">
                                            JPG , PNG , PFD
                                        </p>
                                    </label>
                                </div>
                            </div>
                        }

                <button type="submit" class="btn btn-brown-outline about-btn">@localizer["Apply"]</button>
        </form>
    </div>
    <partial name="_bankInfo" />
</div>

</div>

</div>

</div>

</div>













@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}