@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<MembershipCard>
@{
    ViewData["Title"] ="Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/account-details.css" rel="stylesheet">

        <div class="d-lg-flex">
                <partial name="_AdminMenu"/>
                <div class="account-container account-details">
                    <h2 class="header page-header">@localizer["PageTitle"]</h2>
                    <a asp-controller="MembershipCard" asp-action="ExportToExcel">@localizer["Export"]</a>

                    <div class="tab-content" id="orders-table-tab-content">
			        <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
					    <div class="app-card app-card-orders-table shadow-sm mb-5">
						    <div class="app-card-body">
							    <div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
                                                <th>@localizer["Name"]</th>
                                                <th>@localizer["Phone"]</th>
                                                <th>@localizer["Email"]</th>
                                                <th>@localizer["CardSerial"]</th>
                                                <th>@localizer["PayFees"]</th>
                                                <th>@localizer["Status"]</th>
                                                <th>@localizer["Actions"]</th>
											</tr>
										</thead>
										<tbody>
                                    @foreach (var item in Model)
                                    {
                                                <tr>
                                                    <td class="cell">
                                                @item.AppUser.FirstName @item.AppUser.MiddleName @item.AppUser.LastName
                                                    </td>
                                                    <td class="cell">
                                                @item.AppUser.PhoneNumber
                                                    </td>
                                                    <td class="cell">
                                                @item.AppUser.Email
                                                    </td>
                                                    <td class="cell">
                                                @item.SerialNumber
                                                    </td>
                                            @if (@item.Payed == false)
                                            {
                                                        <td class="cell">No</td>
                                            }
                                            else
                                            {
                                                        <td class="cell">Yes</td>
                                            }
                                            @if (@item.Status == 2)
                                            {
                                                        <td class="cell"> <span class="badge bg-success">Approved</span> </td>
                                            }
                                            else if(item.Status == 1)
                                            {
                                                        <td class="cell"> <span class="badge bg-info">Pending</span> </td>
                                            }
                                            else if(item.Status == 3)
                                            {
                                                        <td class="cell"> <span class="badge bg-danger">Rejected</span> </td>
                                            }

                                            
                                                    <td>
                                                        <div class="w-75 btn-group" role="group">
                                                            <a class="btn-sm app-btn-secondary" asp-controller="MembershipCard" asp-action="Detail"
                                                            asp-route-id="@item.CardId"><i class="fa-solid fa-memo-circle-info"></i>@localizer["Details"]</a>
                                                        </div>
                                                    </td>

                                                </tr>
                                    }
		
										</tbody>
									</table>
						        </div><!--//table-responsive-->
						    </div><!--//app-card-body-->		
						</div><!--//app-card-->
			        
                    </div>
                </div><!--//tab-content-->
                </div>
            </div>

