@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@model IEnumerable<TechearMemberShipTest>
@{
    ViewData["Title"] ="Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/assets/css/account-details.css" rel="stylesheet">

<div class="d-lg-flex">
                <partial name="_AdminMenu" />
                <div class="account-container account-details">
                    @* <h2 class="header page-header">@localizer["PageTitle"]</h2> *@
                    <h2 class="header page-header">Teacher Licences</h2>
                    <a asp-controller="TeacherLic" asp-route-id='@ViewContext.RouteData.Values["Id"]' asp-action="ExportToExcel">@localizer["Export"]</a>

					<div class="table-responsive">
							        <table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
                                                <th>@localizer["TestId"]</th>
                                                <th>@localizer["UserName"]</th>
                                                <th>@localizer["ExpYears"]</th>
                                                <th>@localizer["AccreditedHours"]</th>
                                                <th>@localizer["TeachingType"]</th>
                                                <th>@localizer["PayTestFees"]</th>
                                                <th>@localizer["PayLicenceFees"]</th>
                                                <th>@localizer["Status"]</th>
                                                <th>@localizer["PassExam"]</th>
                                                <th>@localizer["FinalApprove"]</th>
                                                <th>@localizer["Actions"]</th>
											</tr>
										</thead>
										<tbody>
											@* <tr>
												<td class="cell">#15346</td>
												<td class="cell"><span class="truncate">Lorem ipsum dolor sit amet eget volutpat erat</span></td>
												<td class="cell">John Sanders</td>
												<td class="cell"><span>17 Oct</span><span class="note">2:16 PM</span></td>
												<td class="cell"><span class="badge bg-success">Paid</span></td>
												<td class="cell">$259.35</td>
												<td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
											</tr> *@
                                    @foreach (var item in Model)
                                    {
                                                <tr>
                                                    <td class="cell">
                                                @item.TestId
                                                    </td>
                                                    <td class="cell">
                                                @item.TechearMemberShip.AppUser.FirstName  @item.TechearMemberShip.AppUser.MiddleName @item.TechearMemberShip.AppUser.LastName
                                                    </td>
                                                    <td class="cell">
                                                @item.TechearMemberShip.ExpYears
                                                    </td>
                                                    <td class="cell">
                                                @item.AccreditedHours
                                                    </td>
                                                    <td class="cell">
                                                @item.TeachingType_string
                                                    </td>
                                            @if (@item.PayExamFees == false)
                                            {
                                                        <td class="cell">Not Paid</td>
                                            }
                                            else
                                            {
                                                        <td class="cell">Paid</td>
                                            }
                                            @if (@item.PayFees == false)
                                            {
                                                        <td class="cell">Not Paid</td>
                                            }
                                            else
                                            {
                                                        <td class="cell">Paid</td>
                                            }
                                            @if (@item.Status == 2)
                                            {
                                                        <td class="cell"> <span class="badge bg-success">Approved</span> </td>
                                            }
                                            else if(@item.Status == 1)
                                            {
                                                        <td class="cell"> <span class="badge bg-info">Pending</span> </td>
                                            }
                                            else if(@item.Status == 3)
                                            {
                                                <td class="cell"> <span class="badge bg-danger">Rejected</span> </td>
                                            }

                                            @if (@item.PassExam == true)
                                            {
                                                        <td class="cell"> <span class="badge bg-success">Yes</span> </td>
                                            }
                                            else if(@item.PassExam == false)
                                            {
                                                        <td class="cell"> <span class="badge bg-danger">No</span> </td>
                                            }
                                            

                                            @if (@item.FinalApprove == true)
                                            {
                                                        <td class="cell"> <span class="badge bg-success">Approved</span> </td>
                                            }
                                            else
                                            {
                                                        <td class="cell"> <span class="badge bg-info">Pending</span> </td>
                                            }

                                            @* @if(@item.Status == 0)
                                                {
                                                <td>
                                                <button class="btn btn-info">Approve</button>
                                                |
                                                <button class="btn btn-danger">Reject</button>
                                                </td>
                                                }
                                                else {
                                                <td>
                                                <button class="btn btn-info">Approve</button>
                                                </td>
                                                } *@
                                                    <td>
                                                        <div class="w-75 btn-group" role="group">
                                                            <a class="btn-sm app-btn-secondary" asp-controller="TeacherLic" asp-action="Detail"
                                                            asp-route-id="@item.TestId"><i class="fa-solid fa-memo-circle-info"></i>@localizer["Details"]</a>
                                                        </div>
                                                    </td>

                                                </tr>
                                    }
		
										</tbody>
									</table>
						        </div><!--//table-responsive-->
                </div>
</div>