@model IEnumerable<yoga.Models.Notification>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/account-details.css" rel="stylesheet">


<div class="d-lg-flex">
    <partial name="_AdminMenu" />
    <div class="account-container account-details">

        <form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <h2>Notification Center</h2>
        
        <div id="myTabContent">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>User</th>
                        @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <th>Admin/Manager</th>
                        }

                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                        <td>@item.Title</td>
                        <td>@Html.Raw(@item.Body)</td>
                        <td>@item.CreationDate</td>
                        <td>@item.AppUser?.FirstName @item.AppUser?.LastName</td>
                        @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <td>@item.AdminUser?.FirstName @item.AdminUser?.LastName</td>
                        }
                        
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
    </div>
</div>

</div>
</div>

</div>
</div>










