@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/platform.css" rel="stylesheet">
<link href="~/assets/css/related-news.css" rel="stylesheet">

<div id="platform-page-container">
                <div id="platform-page">
                    <div class="platform-page-content container order-1">
                        @* <a type="button" class="btn btn-brown-outline ">@localizer["AboutUsTitle"]</a> *@
                        <div class="platform-page-title">@localizer["WhoWeAre"]</div>
                        <div class="platform-page-desc">
                            @localizer["AboutUsBody"]
                        </div>
                    </div>
                    <img src="~/assets/images/platform/platform-clubs.png" class="order-0">
                </div>
            </div>
            <div id="objective-desktop-container">
                <div id="objective-container">
                    <div class="container">

                        <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
                            <div class="col-lg-4">
                                <img src="~/assets/images/platform/platform-advantages.png" />
                            </div>
                            <div class="objective-content">
                                <a class="btn btn-white-outline">@localizer["VisitonMissionTitle"]</a>
                                <h3 class="objective-title">@localizer["OurObjectiveTitle"]</h3>
                                <p class="objective-desc">@localizer["OurObjectiveBody"]</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="teacher-list">
                <h1 class="page-header">@localizer["BoardofDirectors"]</h1>
                
                <div class="row row-cols-lg-3 row-cols-1">
                    <div class="col teacher-item">
                        <img src="~/assets/images/related-news/nouf.png" />
                        <div class="teacher-details">
                            <p class="teacher-position">@localizer["t_nouf_job"]</p>
                            <p class="teacher-name">@localizer["t_nouf"]</p>
                        </div>
                    </div>
                    <div class="col teacher-item">
                        <img src="~/assets/images/related-news/ahmed.png" />
                        <div class="teacher-details">
                            <p class="teacher-position">@localizer["t_ahmed_job"]</p>
                            <p class="teacher-name">@localizer["t_ahmed"]</p>
                        </div>
                    </div>
                    @* <div class="col teacher-item">
                        <img src="~/assets/images/related-news/instructor.png" />
                        <div class="teacher-details">
                            <p class="teacher-position">EXECUTIVE DIRECTOR OF SAUDI YOGA COMMITTEE</p>
                            <p class="teacher-name">Eng. Ahmed Mohammed Alsadi</p>
                        </div>
                    </div> *@
                </div>
                <p class="page-desc">@localizer["team_names"]</p>
            </div>


        </div>