@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<!-- Features App 2
    ================================================== -->
<section>
    <div id="features-app-section-2" class="pad-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 features-app-content-left animated out" data-animation="fadeInLeft" data-delay="0">
                    <div class="section_header">
                        <h2>@localizer["WhoWeAre"] </span></h2>
                    </div> <!-- End section_header -->
                    <p> 
                        @localizer["AboutUsBody"]
                    </p>
                    
                </div> <!-- End feature-content -->

                <div class="col-sm-5 col-sm-offset-1 text-center img-app-right animated out"
                    data-animation="fadeInRight" data-delay="0">
                    <figure>
                        <img src="~/assets/images/about/about1.jpg" alt="Yoga">
                    </figure>
                </div> <!-- End col-sm-8 -->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End feature-section -->
</section>
<!-- End Features App 2 section -->

<section>
    <div class="sep-section"></div>
</section>

<!-- Creative section-1
    ================================================== -->
<section>
    <div id="creative-section-1" class="pad-sec">
        <div class="container">
            <div class="row">

                <div class="col-sm-7 img-creative-left text-center animated out" data-animation="fadeInLeft"
                    data-delay="0">
                    <figure>
                        <img src="~/assets/images/about/about2.jpg" alt="Yoga">
                    </figure>
                </div> <!-- End col-sm-8 -->

                <div class="col-sm-5 creative-content-right animated out" data-animation="fadeInRight" data-delay="0">
                    <div class="section_header">
                        <h2>@localizer["OurObjectiveTitle"]</h2>
                    </div> <!-- End section_header -->

                    <p>
                        @localizer["OurObjectiveBody"]
                    </p>
                </div> <!-- End feature-content -->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End feature-section -->
</section>
<!-- End Creative section-1 -->

<!-- Team
    ================================================== -->
<section>
    <div id="team-section" class="pad-sec">
        <div class="container">
            <div class="title-section animated out" data-animation="fadeInUp" data-delay="0">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2>@localizer["OURAWESOMETEAMTitle"]</h2>
                        <hr>
                        <p>
                            @localizer["OURAWESOMETEAMDesc"]
                        </p>
                    </div>
                </div> <!-- End row -->
            </div> <!-- end title-section -->

            <div class="team-members">
                <div class="row">

                    <!-- member-team -->
                    <div class="col-sm-6">
                        <div class="member-team animated out" data-animation="fadeInLeft" data-delay="0">
                            <img src="~/assets/images/team/member01.jpg" alt="">
                            <div class="magnifier">
                                <div class="magnifier-inner">
                                    <h3>Nouf Mohammed Almarwaai</h3>
                                    <p>Chairwoman of Saudi Yoga Committee</p>
                                    <p>
                                        Message of Chairwoman of Saudi Yoga Committee.
                                    </p>
                                    <ul class="social-icons">

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Facebook" href="#"
                                                data-original-title="" title=""><i class="fa fa-facebook"></i></a></li>

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Twitter" href="#"
                                                data-original-title="" title=""><i class="fa fa-twitter"></i></a></li>

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Google Plus" href="#"
                                                data-original-title="" title=""><i class="fa fa-google-plus"></i></a>
                                        </li>

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Skype" href="#"
                                                data-original-title="" title=""><i class="fa fa-skype"></i></a></li>

                                    </ul>
                                </div> <!-- End magnifier-inner -->
                            </div> <!-- End magnifier -->
                        </div> <!-- End member-team -->
                    </div> <!-- End col-sm-4 -->

                    <!-- member-team -->
                    <div class="col-sm-6">
                        <div class="member-team animated out" data-animation="fadeInUp" data-delay="0">
                            <img src="~/assets/images/team/member_02.jpg" alt="">
                            <div class="magnifier">
                                <div class="magnifier-inner">
                                    <h3>Eng. Ahmed Mohammed Alsadi</h3>
                                    <p>Executive Director of Saudi Yoga Committee</p>
                                    <p></p>
                                    <ul class="social-icons">

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Facebook" href="#"
                                                data-original-title="" title=""><i class="fa fa-facebook"></i></a></li>

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Twitter" href="#"
                                                data-original-title="" title=""><i class="fa fa-twitter"></i></a></li>

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Google Plus" href="#"
                                                data-original-title="" title=""><i class="fa fa-google-plus"></i></a>
                                        </li>

                                        <li><a data-rel="tooltip" data-toggle="tooltip" data-trigger="hover"
                                                data-placement="bottom" data-title="Skype" href="#"
                                                data-original-title="" title=""><i class="fa fa-skype"></i></a></li>

                                    </ul>
                                </div> <!-- End magnifier-inner -->
                            </div> <!-- End magnifier -->
                        </div> <!-- End member-team -->
                    </div> <!-- End col-sm-4 -->

                    
                    </div> <!-- End col-sm-4 -->

                </div>
            </div> <!-- End team-members -->
        </div> <!-- End container -->
    </div> <!-- End team-section -->
</section>
<!-- End team section -->