@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="yoga-layout">
                <h1 class="page-header">@localizer["PageTitle"]</h1>
                <div id="contact-us-form">
                    <div class="row row-cols-lg-2 row-cols-1">
                        <div>
                            <div class="row row-cols-lg-2 row-cols-1">
                                <div class="col">
                                    <h3>@localizer["AddressTitle"]</h3>
                                    <p>@localizer["Address1"]</p>
                                    <p>@localizer["Address2"]</p>
                                </div>
                                <div class="col contact-info">
                                    <h3>@localizer["PageSubTitle"]</h3>
                                    <p>T: +966 53 353 3127</p>
                                    <p>E: info@yoga.sa</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info">
                            <h3>@localizer["SocialMediaTitle"]</h3>
                            <div class="d-flex align-items-center social-icons">
                               
                                <a target="_blank" href="https://www.instagram.com/yoga_ksa/?igshid=YmMyMTA2M2Y%3D" ><img src="~/assets/images/contact/instagram.png" 
                                width="32" height="32" /></a>
                                <a target="_blank" href="https://twitter.com/yoga_ksa?s=21&t=KWCjB8WByV28CV5bONXHNw">
                                <img src="~/assets/images/contact/twitter.svg" /></a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-lg-2 row-cols-1 mt-3 mt-lg-0">
                        <div class="order-1 order-lg-0 mt-3 mt-lg-0">
                            <div class="row row-cols-lg-2 row-cols-1">
                                <div class="col input-container">
                                    <input name="name" type="text" placeholder='@localizer["Name"]'><br>
                                    <input name="subject" type="text" placeholder='@localizer["Subject"]'>
                                </div>
                                <div class="col input-container">
                                    <input name="email" type="text" placeholder='@localizer["Email"]'><br>
                                    <input name="phone" type="text" placeholder='@localizer["Phone"]'>
                                </div>
                            </div>
                            <div>
                                <textarea name="Message" rows="5" placeholder='@localizer["Message"]'></textarea>
                            </div>
                            <div>
                                <button class="btn btn-brown-primary">@localizer["SendMessage"]</button>
                            </div>
                        </div>
                        @* <div class="mapouter order-0 order-lg-1">
                            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=Kingdom%20Centre,%20King%20Fahd%20Road,%20Riyadh%20Saudi%20Arabia&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://www.whatismyip-address.com"></a>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>