@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
}


<!DOCTYPE html>
<html>

<head>

    
    <title>@ViewData["Title"] - Yoga Saudi Committee الاتحاد السعودي لليوجا</title>
    <link rel="icon" type="image/x-icon" href="~/assets//images//favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saudi Yoga Committee</title>
    <!-- CSS only -->
    
	@if(culture.RequestCulture.UICulture.Name == "ar")
	{
		 <link rel="stylesheet" href="~/assets/css/bootstrap.rtl.min.css" 
         
        crossorigin="anonymous">
		<link href="~/assets/css/style.css" rel="stylesheet">
		<link href="~/assets/css/style-rtl.css" rel="stylesheet">
	}
	else {
		<link href="~/assets/css/bootstrap.min.css" rel="stylesheet"
         crossorigin="anonymous">
		<link href="~/assets/css/style.css" rel="stylesheet">
	}
    
    <!-- JavaScript Bundle with Popper -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

	
    
</head>

<body>

	<div class="container mx-auto">
        <header class="d-flex justify-content-between align-items-center">

            <div class="menu-btn-container">
                <a onclick="hideMenu()">
                    <div class="close">&#x2715</div>
                </a>
                <a onclick="showMenu()">
                    <div class="menu">
                        <div class="menu-btn"></div>
                        <div class="menu-btn"></div>
                        <div class="menu-btn"></div>
                    </div>
                </a>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Index"><img src="~/assets/images/yoga-logo.jpg" /></a>
            </div>
            <div class="menu-items d-none d-lg-block">
                <ul>
					<partial name="_culture"/>
                    @* <li>
                        <a asp-controller="Account" asp-action="Login">Account</a>
                    </li> *@
                    <partial name="_loginPartial"/>
                </ul>
            </div>

        </header>


        <div id="menu-body">
            <div id="menu-inner" class="d-flex align-items-center ">
                <div>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">@localizer["Home"]</a></li>
                        <li>
                            
                            <div class="collapse-container">
                                <div class="d-flex">
                                    <p class="collapse-title">
                                        @localizer["About"]
                                    </p>
                                    <a data-bs-toggle="collapse" href="#aboutmenuitem" role="button"
                                        aria-expanded="false" aria-controls="aboutmenuitem">
                                    </a>
                                </div>
                                <div class="collapse" id="aboutmenuitem">
                                    <div class="collapse-body submenu d-grid d-lg-flex">
                                        <a asp-controller="Home" asp-action="About" >@localizer["About"]</a>
                                        <a asp-controller="Home" asp-action="History">@localizer["History"]</a>
                                        <a asp-controller="Home" asp-action="News">@localizer["News"]</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="collapse-container">
                                <div class="d-flex">
                                    <p class="collapse-title">
                                        @localizer["Platforms"]
                                    </p>
                                    <a data-bs-toggle="collapse" href="#platformmenuitem" role="button"
                                        aria-expanded="false" aria-controls="platformmenuitem">
                                    </a>
                                </div>
                                <div class="collapse" id="platformmenuitem">
                                    <div class="collapse-body submenu d-grid d-lg-flex">
                                        <a asp-controller="Platform" asp-action="Detail" asp-route-id="1" >@localizer["Amateurs"]</a>
                                        <a asp-controller="Platform" asp-action="Detail" asp-route-id="2">@localizer["TrainersPrograms"]</a>
                                        <a asp-controller="Platform" asp-action="Detail" asp-route-id="3">@localizer["YogaStudios"]</a>
                                        <a asp-controller="Platform" asp-action="Detail" asp-route-id="4">@localizer["ClubsCompetition"]</a>
                                        <a asp-controller="Platform" asp-action="Detail" asp-route-id="5">@localizer["YogasanSport"]</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li> <a asp-controller="Home" asp-action="Downloads">@localizer["Handbook"]</a></li>
                        <li><a asp-controller="Home" asp-action="FAQS">@localizer["Faq"]</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">@localizer["Contact"]</a></li>
                        <partial name="_culture" />
                        @* <li>
                            <a asp-controller="Account" asp-action="Login">Account</a>
                            </li> *@
                        <partial name="_loginPartial" />
                    </ul>
                </div>

            </div>
            <div id="menu-footer" class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <div class="email">E: info@yoga.sa</div>
                <div class="d-flex logos">
                    <img src="~/assets/images/saudi-sports.png" />
                    <img src="~/assets/images/saudi-logo.png" />
                </div>
            </div>
        </div>


        <div id="body-content">
            @RenderBody()
        </div>
    </div>
   <footer>
        <div class="container">
            <div class="d-lg-flex justify-content-between">
                <div class="mb-5 mb-lg-0">
                    <div class="d-flex">
                        <img src="~/assets/images/brown-star.png" />
                        <div id="miracles-title">
                            @localizer["About"]
                            </div>
                    </div>
                    <div>
                        <p class="footer-desc">
                            @localizer["footerBody1"]
                            </p>
                    </div>
                    <a class="btn btn-darker-brown-primary" asp-controller="Home" asp-action="Contact" role="button">
                        @localizer["Contact"]
                        </a>
                </div>
                <div>
                    <div class="info-title">@localizer["CONNECT"]</div>
                    <div class="info-desc">
                        <p>T: +966 53 353 3127</p>
                        <p>E: info@yoga.sa</p>
                    </div>

                    <div class="info-title">@localizer["AddressTitle"]</div>
                    <div class="info-desc">
                        <a target="_blank" href="https://maps.app.goo.gl/6LHcAQBpyUSzV5ew9"><p>اللجنة الأولمبية العربية السعودية، الرياض</p></a>
                        @* <p>Castle Dr.Port Douglas, Queensland</p> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-separator"></div>
        <div class="container">
            <div id="copy-right" class="d-flex flex-column justify-content-center d-lg-flex flex-lg-row justify-content-lg-between align-items-center">
                <div class="copyright order-1 order-lg-0">
                    @localizer["Rights"] - <a style="color:#ffffff" asp-controller="Home" asp-action="Policy" >@localizer["Policy"]</a>
                </div>
                <div class="logos order-0 order-lg-1 d-flex">
                    <img src="~/assets/images/footer/white/2030.png" />
                    <img src="~/assets/images/footer/white/sport-ministry.png" />
                    <img src="~/assets/images/footer/white/saudi-logo.png" />
                    <div class="footer-borders">
                        <div class="curve curve-1"></div>
                        <div class="curve curve-2"></div>
                        <div class="curve curve-3"></div>
                        <div class="curve curve-4"></div>
                    </div>
                    <img src="~/assets/images/footer/white/yoga-logo-white.png" />
                </div>
            </div>
        </div>

    </footer>
	<script src="~/assets/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
